/* Animación al hacer scroll */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}



/* Texto sin decoraci�n */
a {
  text-decoration: none;
}
a:hover .snap1{
  color: #a1a1a1ff; /* Color al pasar el mouse */
}
a:hover .snap2{
  color: #007cc6ff;
   /* Color al pasar el mouse */
}

/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/fondo_linea.png);
  --image-2: url(./graphics/fondo_linea2.png);
  --image-3: url(./graphics/gris_linea.png);
  --custom-width: 100vw;
  --design-width: 1200;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.object-fit {
  object-fit: cover;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(1671.88 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.accesorios-rapi-80356 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.nodeBg-303126 {
  opacity: 1;
}
.logo-acquapack--303126 {
  width: 23.02%;
  height: 9.16%;
  top: 0%;
  left: 10.89%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.inicio-303127 {
  width: 5.42%;
  height: 1.32%;
  top: 3.35%;
  left: 46.08%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-303127-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007cc6ff;
}

.nosotros-303128 {
  width: 13.42%;
  height: 1.32%;
  top: 3.35%;
  left: 54.25%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nosotros-303128-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007ec7ff;
}

.catlogo-303129 {
  width: 9.08%;
  height: 1.32%;
  top: 3.35%;
  left: 65%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catlogo-303129-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007bc5ff;
}

.servicios-303130 {
  width: 9%;
  height: 1.73%;
  top: 3.35%;
  left: 76.25%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-303130-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0080c9ff;
}

.contacto-303131 {
  width: 8.08%;
  height: 1.32%;
  top: 3.35%;
  left: 87.33%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-303131-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0083cbff;
}

.blobscenehaikei-36574 {
  width: 100%;
  height: 69.62%;
  top: 8.85%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36575 {
  opacity: 1;
  background-image: var(--image-0);
}
.vector-36575 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-36576 {
  width: 90%;
  height: 47.51%;
  top: 0%;
  left: 10%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.nodeBg-36577 {
  opacity: 1;
  background-image: var(--image-1);
}
.vector-36577 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-36578 {
  width: 90%;
  height: 47.51%;
  top: 52.49%;
  left: 0%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
}
.nodeBg-36579 {
  opacity: 1;
  background-image: var(--image-2);
}
.vector-36579 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-3942 {
  opacity: 1;
}
.accesorios-rapi-3942 {
  width: 71.25%;
  height: 69.62%;
  top: 8.85%;
  left: 14.33%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.line-16-303132 {
  width: 100%;
  height: 0%;
  top: 8.86%;
  left: 0%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 1px #8d8b8bff,
    inset 0 0 1px 0 #8d8b8bff,
    inset 0 1px 0 0 #8d8b8bff,
    inset 1px 0 0 0 #8d8b8bff;
  border-left: 1px solid #8d8b8bff;
  border-right: 1px solid #8d8b8bff;
  border-top: 1px solid #8d8b8bff;
  border-bottom: 1px solid #8d8b8bff;
}
.nodeBg-36550 {
  opacity: 1;
  background-image: var(--image-3);
}
.rectangle-33-36550 {
  width: 100%;
  height: 21.53%;
  top: 78.47%;
  left: 0%;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
  overflow: hidden;
}
.direccin-36564 {
  width: 13.85%;
  height: 2.5%;
  top: 80.1%;
  left: 52.34%;
  opacity: 1;
  z-index: 23;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.direccin-36564-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.redes-36565 {
  width: 13.85%;
  height: 2.5%;
  top: 80.1%;
  left: 77.76%;
  opacity: 1;
  z-index: 24;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.redes-36565-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.links-36562 {
  width: 13.85%;
  height: 2.5%;
  top: 80.17%;
  left: 0.94%;
  opacity: 1;
  z-index: 21;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.links-36562-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.contacto-36563 {
  width: 13.85%;
  height: 2.5%;
  top: 80.17%;
  left: 20.31%;
  opacity: 1;
  z-index: 22;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.contacto-36563-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}
.nodeBg-36566 {
  width: calc(61.28261094526 * var(--ratio));
  height: calc(63.941808016755864 * var(--ratio));
  left: calc(-0.7663043497788715 * var(--ratio));
  top: calc(0 * var(--ratio));

  opacity: 1;
}
.instagram-gris--36566 {
  width: 4.9%;
  height: 3.7%;
  top: 81.56%;
  left: 88.44%;
  opacity: 1;
  z-index: 25;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36571 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-18-36571 {
  width: 15.73%;
  height: 0.1%;
  top: 82.17%;
  left: 22.86%;
  opacity: 1;
  z-index: 30;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36572 {
  width: calc(302.7241362773186 * var(--ratio));
  height: calc(302.72412154457515 * var(--ratio));
  left: calc(-21.120689629333103 * var(--ratio));
  top: calc(-150.86206077228758 * var(--ratio));

  opacity: 1;
}
.linea-19-36572 {
  width: 21.88%;
  height: 0.14%;
  top: 82.18%;
  left: 54.79%;
  opacity: 1;
  z-index: 31;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36573 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-20-36573 {
  width: 15.73%;
  height: 0.1%;
  top: 82.19%;
  left: 81.09%;
  opacity: 1;
  z-index: 32;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36570 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-17-36570 {
  width: 15.73%;
  height: 0.1%;
  top: 82.23%;
  left: 5.31%;
  opacity: 1;
  z-index: 29;
  transform: rotate(0deg);
  overflow: hidden;
}
.barrio-perpetuo-36555 {
  width: 18.91%;
  height: 9.16%;
  top: 82.6%;
  left: 54.79%;
  opacity: 1;
  z-index: 14;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.barrio-perpetuo-36555-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.instagram-36556 {
  width: 8.28%;
  height: 1.61%;
  top: 82.6%;
  left: 81.09%;
  opacity: 1;
  z-index: 15;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instagram-36556-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.inicio-36552 {
  width: 5.36%;
  height: 1.61%;
  top: 82.68%;
  left: 5.31%;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-36552-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.cel-0000000-36553 {
  width: 14.11%;
  height: 1.61%;
  top: 82.68%;
  left: 22.86%;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.cel-0000000-36553-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-36568 {
  opacity: 1;
}
.maps-5-36568 {
  width: 4.06%;
  height: 3.21%;
  top: 83.05%;
  left: 73.7%;
  opacity: 1;
  z-index: 27;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-36567 {
  opacity: 1;
}
.whatsap-gris-5-36567 {
  width: 6.82%;
  height: 4.07%;
  top: 83.8%;
  left: 87.45%;
  opacity: 1;
  z-index: 26;
  transform: rotate(0deg);
  overflow: hidden;
}
.email-acquapack-36554 {
  width: 29.22%;
  height: 2.99%;
  top: 84.28%;
  left: 22.86%;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.email-acquapack-36554-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.whatsapp-36558 {
  width: 13.44%;
  height: 1.61%;
  top: 85.07%;
  left: 81.09%;
  opacity: 1;
  z-index: 17;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.whatsapp-36558-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.quienes-somos-36557 {
  width: 13.44%;
  height: 1.61%;
  top: 85.14%;
  left: 5.31%;
  opacity: 1;
  z-index: 16;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.quienes-somos-36557-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.catalogo-36559 {
  width: 9.06%;
  height: 1.64%;
  top: 87.57%;
  left: 5.31%;
  opacity: 1;
  z-index: 18;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catalogo-36559-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-36551 {
  opacity: 1;
}
.logo-acquapack--36551 {
  width: 19.11%;
  height: 7.78%;
  top: 87.87%;
  left: 41.25%;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
  overflow: hidden;
}
.servicios-36560 {
  width: 9.06%;
  height: 2.13%;
  top: 90%;
  left: 5.31%;
  opacity: 1;
  z-index: 19;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-36560-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.contacto-36561 {
  width: 8.07%;
  height: 1.64%;
  top: 92.55%;
  left: 5.31%;
  opacity: 1;
  z-index: 20;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-36561-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.c-2024-acquapack--36569 {
  width: 30.57%;
  height: 1.68%;
  top: 96.84%;
  left: 34.69%;
  opacity: 1;
  z-index: 28;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.c-2024-acquapack--36569-0 {
  font-size: calc(14 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(15 * var(--ratio));
  color: #ffffffff;
}
