/* Animación al hacer scroll */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}




/* Texto sin decoraci�n */
a {
  text-decoration: none;
}
a:hover .snap1{
  color: #a1a1a1ff; /* Color al pasar el mouse */
}
a:hover .snap2{
  color: #007cc6ff;
   /* Color al pasar el mouse */
}

/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/fondo_mangueras1.png);
  --image-2: url(./graphics/fondo_mangueras2.png);
  --image-3: url(./graphics/graphics3.png);
  --custom-width: 100vw;
  --design-width: 1200;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.object-fit {
  object-fit: cover;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(4211 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.mangueras-indus-83544 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.nodeBg-303140 {
  opacity: 1;
}
.logo-acquapack--303140 {
  width: 23.02%;
  height: 3.64%;
  top: 0.02%;
  left: 10.89%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  overflow: hidden;
}
.inicio-303141 {
  width: 5.42%;
  height: 0.52%;
  top: 1.35%;
  left: 46.08%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-303141-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007cc6ff;
}

.nosotros-303142 {
  width: 13.42%;
  height: 0.52%;
  top: 1.35%;
  left: 54.25%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nosotros-303142-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007ec7ff;
}

.catlogo-303143 {
  width: 9.08%;
  height: 0.52%;
  top: 1.35%;
  left: 65%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catlogo-303143-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007bc5ff;
}

.servicios-303144 {
  width: 9%;
  height: 0.69%;
  top: 1.35%;
  left: 76.25%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-303144-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0080c9ff;
}

.contacto-303145 {
  width: 8.08%;
  height: 0.52%;
  top: 1.35%;
  left: 87.33%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-303145-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0083cbff;
}

.line-17-303146 {
  width: 100%;
  height: 0%;
  top: 3.54%;
  left: 0%;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 1px #8d8b8bff,
    inset 0 0 1px 0 #8d8b8bff,
    inset 0 1px 0 0 #8d8b8bff,
    inset 1px 0 0 0 #8d8b8bff;
  border-left: 1px solid #8d8b8bff;
  border-right: 1px solid #8d8b8bff;
  border-top: 1px solid #8d8b8bff;
  border-bottom: 1px solid #8d8b8bff;
}
.blobscenehaikei-42431 {
  width: 100%;
  height: 87.89%;
  top: 3.54%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42432 {
  opacity: 1;
  background-image: var(--image-0);
}
.vector-42432 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-42433 {
  width: 50.03%;
  height: 56.82%;
  top: 0%;
  left: 49.97%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.nodeBg-42434 {
  opacity: 1;
  background-image: var(--image-1);
}
.vector-42434 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-42435 {
  width: 50%;
  height: 56.82%;
  top: 43.18%;
  left: 0%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
}
.nodeBg-42436 {
  opacity: 1;
  background-image: var(--image-2);
}
.vector-42436 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-4242 {
  opacity: 1;
}
.mangueras-indus-4242 {
  width: 72.66%;
  height: 29.3%;
  top: 3.54%;
  left: 13.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-4243 {
  opacity: 1;
}
.mangueras-indus-4243 {
  width: 72.67%;
  height: 29.35%;
  top: 32.8%;
  left: 13.67%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-4244 {
  opacity: 1;
}
.mangueras-indus-4244 {
  width: 72.67%;
  height: 29.4%;
  top: 62.05%;
  left: 13.67%;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-4247 {
  opacity: 1;
  background-image: var(--image-3);
}
.rectangle-34-4247 {
  width: 100%;
  height: 8.56%;
  top: 91.43%;
  left: 0%;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  overflow: hidden;
}
.direccin-4245 {
  width: 13.85%;
  height: 0.99%;
  top: 92.09%;
  left: 52.43%;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.direccin-4245-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.redes-4246 {
  width: 13.85%;
  height: 0.99%;
  top: 92.09%;
  left: 77.84%;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.redes-4246-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.direccin-42421 {
  width: 13.85%;
  height: 0.99%;
  top: 92.1%;
  left: 52.34%;
  opacity: 1;
  z-index: 27;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.direccin-42421-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.redes-42422 {
  width: 13.85%;
  height: 0.99%;
  top: 92.1%;
  left: 77.76%;
  opacity: 1;
  z-index: 28;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.redes-42422-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.links-42419 {
  width: 13.85%;
  height: 0.99%;
  top: 92.12%;
  left: 0.94%;
  opacity: 1;
  z-index: 25;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.links-42419-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.contacto-42420 {
  width: 13.85%;
  height: 0.99%;
  top: 92.12%;
  left: 20.31%;
  opacity: 1;
  z-index: 26;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.contacto-42420-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}
.nodeBg-42423 {
  width: calc(61.28261094526 * var(--ratio));
  height: calc(63.941808016755864 * var(--ratio));
  left: calc(-0.7663043497788715 * var(--ratio));
  top: calc(0 * var(--ratio));

  opacity: 1;
}
.instagram-gris--42423 {
  width: 4.9%;
  height: 1.47%;
  top: 92.67%;
  left: 88.44%;
  opacity: 1;
  z-index: 29;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42428 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-22-42428 {
  width: 15.73%;
  height: 0.04%;
  top: 92.92%;
  left: 22.86%;
  opacity: 1;
  z-index: 34;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42429 {
  width: calc(302.7241362773186 * var(--ratio));
  height: calc(302.72412154457515 * var(--ratio));
  left: calc(-21.120689629333103 * var(--ratio));
  top: calc(-150.86206077228758 * var(--ratio));

  opacity: 1;
}
.linea-23-42429 {
  width: 21.88%;
  height: 0.06%;
  top: 92.92%;
  left: 54.79%;
  opacity: 1;
  z-index: 35;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42430 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-24-42430 {
  width: 15.73%;
  height: 0.04%;
  top: 92.93%;
  left: 81.09%;
  opacity: 1;
  z-index: 36;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42427 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-21-42427 {
  width: 15.73%;
  height: 0.04%;
  top: 92.94%;
  left: 5.31%;
  opacity: 1;
  z-index: 33;
  transform: rotate(0deg);
  overflow: hidden;
}
.barrio-perpetuo-42412 {
  width: 18.91%;
  height: 3.64%;
  top: 93.09%;
  left: 54.79%;
  opacity: 1;
  z-index: 18;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.barrio-perpetuo-42412-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.instagram-42413 {
  width: 8.28%;
  height: 0.64%;
  top: 93.09%;
  left: 81.09%;
  opacity: 1;
  z-index: 19;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instagram-42413-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.inicio-4249 {
  width: 5.36%;
  height: 0.64%;
  top: 93.12%;
  left: 5.31%;
  opacity: 1;
  z-index: 15;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-4249-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.cel-0000000-42410 {
  width: 14.11%;
  height: 0.64%;
  top: 93.12%;
  left: 22.86%;
  opacity: 1;
  z-index: 16;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.cel-0000000-42410-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-42425 {
  opacity: 1;
}
.maps-6-42425 {
  width: 4.06%;
  height: 1.28%;
  top: 93.27%;
  left: 73.7%;
  opacity: 1;
  z-index: 31;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-42424 {
  opacity: 1;
}
.whatsap-gris-6-42424 {
  width: 6.82%;
  height: 1.62%;
  top: 93.56%;
  left: 87.45%;
  opacity: 1;
  z-index: 30;
  transform: rotate(0deg);
  overflow: hidden;
}
.email-acquapack-42411 {
  width: 29.22%;
  height: 1.19%;
  top: 93.76%;
  left: 22.86%;
  opacity: 1;
  z-index: 17;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.email-acquapack-42411-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.whatsapp-42415 {
  width: 13.44%;
  height: 0.64%;
  top: 94.07%;
  left: 81.09%;
  opacity: 1;
  z-index: 21;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.whatsapp-42415-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.quienes-somos-42414 {
  width: 13.44%;
  height: 0.64%;
  top: 94.1%;
  left: 5.31%;
  opacity: 1;
  z-index: 20;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.quienes-somos-42414-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.catalogo-42416 {
  width: 9.06%;
  height: 0.65%;
  top: 95.06%;
  left: 5.31%;
  opacity: 1;
  z-index: 22;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catalogo-42416-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-4248 {
  opacity: 1;
}
.logo-acquapack--4248 {
  width: 19.11%;
  height: 3.09%;
  top: 95.18%;
  left: 41.25%;
  opacity: 1;
  z-index: 14;
  transform: rotate(0deg);
  overflow: hidden;
}
.servicios-42417 {
  width: 9.06%;
  height: 0.85%;
  top: 96.03%;
  left: 5.31%;
  opacity: 1;
  z-index: 23;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-42417-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.contacto-42418 {
  width: 8.07%;
  height: 0.65%;
  top: 97.04%;
  left: 5.31%;
  opacity: 1;
  z-index: 24;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-42418-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.c-2024-acquapack--42426 {
  width: 30.57%;
  height: 0.67%;
  top: 98.74%;
  left: 34.69%;
  opacity: 1;
  z-index: 32;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.c-2024-acquapack--42426-0 {
  font-size: calc(14 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(15 * var(--ratio));
  color: #ffffffff;
}
