/* Animación al hacer scroll */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
  }
}

.animate {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.animate-visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 1s ease-out forwards;
}



/* Texto sin decoraci�n */
a {
  text-decoration: none;
}
a:hover .snap1{
  color: #a1a1a1ff; /* Color al pasar el mouse */
}
a:hover .snap2{
  color: #007cc6ff;
   /* Color al pasar el mouse */
}

/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/fondo-rotomoldeado.png);
  --image-2: url(./graphics/fondo-rotomoldeado2.png);
  --image-3: url(./graphics/graphics3.png);
  --custom-width: 100vw;
  --design-width: 1200;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.object-fit {
  object-fit: cover;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(1743 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.productos-rotom-86259 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.nodeBg-303182 {
  opacity: 1;
}
.logo-acquapack--303182 {
  width: 23.02%;
  height: 8.79%;
  top: 0%;
  left: 10.89%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.inicio-303183 {
  width: 5.42%;
  height: 1.26%;
  top: 3.21%;
  left: 46.08%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-303183-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007cc6ff;
}

.nosotros-303184 {
  width: 13.42%;
  height: 1.26%;
  top: 3.21%;
  left: 54.25%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.nosotros-303184-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007ec7ff;
}

.catlogo-303185 {
  width: 9.08%;
  height: 1.26%;
  top: 3.21%;
  left: 65%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catlogo-303185-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #007bc5ff;
}

.servicios-303186 {
  width: 9%;
  height: 1.66%;
  top: 3.21%;
  left: 76.25%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-303186-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0080c9ff;
}

.contacto-303187 {
  width: 8.08%;
  height: 1.26%;
  top: 3.21%;
  left: 87.33%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-303187-0 {
  font-size: calc(21.5 * var(--ratio));
  font-family: Roboto;
  font-weight: 800;

  text-decoration: none;
  text-transform: none;

  line-height: calc(22.5 * var(--ratio));
  color: #0083cbff;
}

.blobscenehaikei-449187 {
  width: 100%;
  height: 70.8%;
  top: 8.49%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449188 {
  opacity: 1;
  background-image: var(--image-0);
}
.vector-449188 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-449189 {
  width: 90%;
  height: 47.51%;
  top: 0%;
  left: 10%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.nodeBg-449190 {
  opacity: 1;
  background-image: var(--image-1);
}
.vector-449190 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.group-449191 {
  width: 90%;
  height: 47.51%;
  top: 52.49%;
  left: 0%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
}
.nodeBg-449192 {
  opacity: 1;
  background-image: var(--image-2);
}
.vector-449192 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449160 {
  opacity: 1;
}
.page23-1-449160 {
  width: 72.66%;
  height: 70.78%;
  top: 8.49%;
  left: 13.67%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.line-21-303188 {
  width: 100%;
  height: 0%;
  top: 8.5%;
  left: 0%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 1px #8d8b8bff,
    inset 0 0 1px 0 #8d8b8bff,
    inset 0 1px 0 0 #8d8b8bff,
    inset 1px 0 0 0 #8d8b8bff;
  border-left: 1px solid #8d8b8bff;
  border-right: 1px solid #8d8b8bff;
  border-top: 1px solid #8d8b8bff;
  border-bottom: 1px solid #8d8b8bff;
}
.nodeBg-449163 {
  opacity: 1;
  background-image: var(--image-3);
}
.rectangle-39-449163 {
  width: 100%;
  height: 20.71%;
  top: 79.29%;
  left: 0%;
  opacity: 1;
  z-index: 11;
  transform: rotate(0deg);
  overflow: hidden;
}
.direccin-449177 {
  width: 13.85%;
  height: 2.4%;
  top: 81.07%;
  left: 53.18%;
  opacity: 1;
  z-index: 25;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.direccin-449177-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.direccin-449161 {
  width: 13.85%;
  height: 2.4%;
  top: 81.07%;
  left: 53.26%;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.direccin-449161-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.redes-449178 {
  width: 13.85%;
  height: 2.4%;
  top: 81.07%;
  left: 78.59%;
  opacity: 1;
  z-index: 26;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.redes-449178-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.redes-449162 {
  width: 13.85%;
  height: 2.4%;
  top: 81.07%;
  left: 78.68%;
  opacity: 1;
  z-index: 10;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.redes-449162-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.links-449175 {
  width: 13.85%;
  height: 2.4%;
  top: 81.15%;
  left: 1.77%;
  opacity: 1;
  z-index: 23;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.links-449175-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}

.contacto-449176 {
  width: 13.85%;
  height: 2.4%;
  top: 81.15%;
  left: 21.15%;
  opacity: 1;
  z-index: 24;
  transform: rotate(0deg);
  text-align: center;
  line-height: 0px;
}
.contacto-449176-0 {
  font-size: calc(24 * var(--ratio));
  font-family: Roboto Flex;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(25 * var(--ratio));
  color: #ffffffff;
}
.nodeBg-449179 {
  width: calc(61.28261094526 * var(--ratio));
  height: calc(63.941808016755864 * var(--ratio));
  left: calc(-0.7663043497788715 * var(--ratio));
  top: calc(0 * var(--ratio));

  opacity: 1;
}
.instagram-gris--449179 {
  width: 4.9%;
  height: 3.55%;
  top: 82.47%;
  left: 89.27%;
  opacity: 1;
  z-index: 27;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449184 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-42-449184 {
  width: 15.73%;
  height: 0.1%;
  top: 83.06%;
  left: 23.7%;
  opacity: 1;
  z-index: 32;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449185 {
  width: calc(302.7241362773186 * var(--ratio));
  height: calc(302.72412154457515 * var(--ratio));
  left: calc(-21.120689629333103 * var(--ratio));
  top: calc(-150.86206077228758 * var(--ratio));

  opacity: 1;
}
.linea-43-449185 {
  width: 21.88%;
  height: 0.14%;
  top: 83.07%;
  left: 55.63%;
  opacity: 1;
  z-index: 33;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449186 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-44-449186 {
  width: 15.73%;
  height: 0.1%;
  top: 83.08%;
  left: 81.93%;
  opacity: 1;
  z-index: 34;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449183 {
  width: calc(217.95402179940527 * var(--ratio));
  height: calc(217.95401234118768 * var(--ratio));
  left: calc(-15.186781590615707 * var(--ratio));
  top: calc(-108.47700617059384 * var(--ratio));

  opacity: 1;
}
.linea-41-449183 {
  width: 15.73%;
  height: 0.1%;
  top: 83.12%;
  left: 6.15%;
  opacity: 1;
  z-index: 31;
  transform: rotate(0deg);
  overflow: hidden;
}
.barrio-perpetuo-449168 {
  width: 18.91%;
  height: 8.79%;
  top: 83.48%;
  left: 55.63%;
  opacity: 1;
  z-index: 16;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.barrio-perpetuo-449168-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.instagram-449169 {
  width: 8.28%;
  height: 1.54%;
  top: 83.48%;
  left: 81.93%;
  opacity: 1;
  z-index: 17;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.instagram-449169-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.inicio-449165 {
  width: 5.36%;
  height: 1.54%;
  top: 83.55%;
  left: 6.15%;
  opacity: 1;
  z-index: 13;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.inicio-449165-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.cel-0000000-449166 {
  width: 14.11%;
  height: 1.54%;
  top: 83.55%;
  left: 23.7%;
  opacity: 1;
  z-index: 14;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.cel-0000000-449166-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-449181 {
  opacity: 1;
}
.maps-11-449181 {
  width: 4.06%;
  height: 3.08%;
  top: 83.91%;
  left: 74.53%;
  opacity: 1;
  z-index: 29;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-449180 {
  opacity: 1;
}
.whatsap-gris-11-449180 {
  width: 6.82%;
  height: 3.91%;
  top: 84.62%;
  left: 88.28%;
  opacity: 1;
  z-index: 28;
  transform: rotate(0deg);
  overflow: hidden;
}
.email-acquapack-449167 {
  width: 29.22%;
  height: 2.87%;
  top: 85.09%;
  left: 23.7%;
  opacity: 1;
  z-index: 15;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.email-acquapack-449167-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.whatsapp-449171 {
  width: 13.44%;
  height: 1.54%;
  top: 85.84%;
  left: 81.93%;
  opacity: 1;
  z-index: 19;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.whatsapp-449171-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.quienes-somos-449170 {
  width: 13.44%;
  height: 1.54%;
  top: 85.92%;
  left: 6.15%;
  opacity: 1;
  z-index: 18;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.quienes-somos-449170-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.catalogo-449172 {
  width: 9.06%;
  height: 1.58%;
  top: 88.25%;
  left: 6.15%;
  opacity: 1;
  z-index: 20;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.catalogo-449172-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}
.nodeBg-449164 {
  opacity: 1;
}
.logo-acquapack--449164 {
  width: 19.11%;
  height: 7.46%;
  top: 88.53%;
  left: 42.08%;
  opacity: 1;
  z-index: 12;
  transform: rotate(0deg);
  overflow: hidden;
}
.servicios-449173 {
  width: 9.06%;
  height: 2.04%;
  top: 90.58%;
  left: 6.15%;
  opacity: 1;
  z-index: 21;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.servicios-449173-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.contacto-449174 {
  width: 8.07%;
  height: 1.58%;
  top: 93.01%;
  left: 6.15%;
  opacity: 1;
  z-index: 22;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.contacto-449174-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #a1a1a1ff;
}

.c-2024-acquapack--449182 {
  width: 30.57%;
  height: 1.61%;
  top: 97.14%;
  left: 35.52%;
  opacity: 1;
  z-index: 30;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.c-2024-acquapack--449182-0 {
  font-size: calc(14 * var(--ratio));
  font-family: Roboto;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(15 * var(--ratio));
  color: #ffffffff;
}
